.bg {
    background-color: darkslategray;
}

div {
    text-align: center;
    margin: 4em;
}

img {
    max-width: 80%;
    border: 10px solid teal;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    color: lightblue;
    text-transform: uppercase;
    font-family: 'Lugrasimo', cursive;
    font-size: 2.5em;
}